<a href="https://colab.research.google.com/github/Hari1051/5731-computational-methods/blob/main/In_class_exercise_01_09072022_(1)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
s = "random"
l = len(s)
print("length of the string is:",l)

length of the string is: 6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
st = 'google.com'
chars_cnt = {}

unique = []
for char in st[::]:
    if char not in unique:
        unique.append(char)

for char in unique:
    chars_cnt[char]=st.count(char)
chars_cnt

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
lst = [1,2,3,4]
sum_of_items = sum(lst)
print("sum of allt the items in a list is ", sum_of_items)

sum of allt the items in a list is  10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
s = 'restart'
print("string after replacing:",s[0]+s[1:].replace(s[0],'$'))

string after replacing: resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a, b = int(input()), int(input())
S = 3.14*(1+(a//b))
S

7
3

9.42

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {**dic1, **dic2, **dic3}
print("Dictionaries after concatenating: ", dic4)

Dictionaries after concatenating:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tup = ('a','b','c','d')
if 'a' in tup:
    print("element exists")
else:
    print("Element doesn't exist")

element exists

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
st = {10,20,30,40}
print("minimum value in the set:",min(st))
print("maximum value in the set:",max(st))

minimum value in the set: 10
maximum value in the set: 40

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random as random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
group1,group2,group3,group4,group5,group6=[],[],[],[],[],[]
len(student_list)
for i in range(int(len(student_list)/6)):


    ran = random.choice(student_list)
    group1.append(ran)
    student_list.remove(ran)

    ran = random.choice(student_list)
    group2.append(ran)
    student_list.remove(ran)

    ran = random.choice(student_list)
    group3.append(ran)
    student_list.remove(ran)

    ran = random.choice(student_list)
    group4.append(ran)
    student_list.remove(ran)

    ran = random.choice(student_list)
    group5.append(ran)
    student_list.remove(ran)

    ran = random.choice(student_list)
    group6.append(ran)
    student_list.remove(ran)

len(student_list)

print("students in group 1 are: ", group1)
print("students in group 2 are: ", group2)
print("students in group 3 are: ", group3)
print("students in group 4 are: ", group4)
print("students in group 5 are: ", group5)
print("students in group 6 are: ", group6)

students in group 1 are:  ['jl1252', 'kg0569', 'sk1313', 'sm1907', 'sb1357']
students in group 2 are:  ['bg0320', 'av0659', 'ak0934', 'ja0964', 'sk1386']
students in group 3 are:  ['vb0218', 'gn0108', 'dr0609', 'kg0470', 'aos0040']
students in group 4 are:  ['ak0956', 'hy0232', 'sk1458', 'pr0353', 'sk1390']
students in group 5 are:  ['nv0234', 'ds0814', 'sc1229', 'fh0141', 'sm1640']
students in group 6 are:  ['sa1198', 'vm0377', 'ms1500', 'nm0618', 'sg1297']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
   


def check_dup(ar):
    dup = []
    for i in range(len(ar)):    
        for j in range(i+1, len(ar)):    
            if(ar[i] == ar[j]):    
                dup.append(ar[i])

    if dup:
        return dup
    else:
        return -1
    
    
ar = [1, 2, 3, 4, 3, 7, 8,1]    
check_dup(ar)

[1, 3]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):

    d = date(year, 1, 1)
      
    d += timedelta(days = 6 - d.weekday())  
    while d.year == year:
        yield d
        d += timedelta(days = 7)
print("The dates for all the sundays of a specified year are:")          
for sun in all_sundays(2020):
    print(sun)

The dates for all the sundays of a specified year are:
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27